{{> navbar}}


<div class="container-fluid text-center">
  <div class="row content">
    <div class="sidenav col-sm-2 ">
    </div>
    <div class="col-sm-8 text-left">
      <h1>Meme maker</h1>
      <div class="wrapper col-md-12">
        <div class="edit-meme col-md-6">
          <input class="controls__input" type="file" id="imageLoader" name="imageLoader" />
          <label for="imageLoader">Upload a Picture</label>
          <input type="submit" value="Create meme" id="createMeme">
          <p>Your Meme:</p>
          <div id="edit-meme">
            <canvas id="canvas">Your browser do not support meme creation, sorry.</canvas>

          </div>

        </div>
        <div class="edit-btn col-md-6 ">

          <h4>Add your personal text</h4>

          <form name="addText" class="text" action="/save" method="POST" id="editForm">
            <p>Text:</p>
            <input class="controls__input" id="text" type="text" value="" />

            <p>Font:</p>
            <select id='fontFamily'>
              <option value="serif">Serif</option>
              <option value="Arial">Arial</option>
              <option value="Helvetica">Helvetica</option>
           
            </select>

            <p>Color:</p>
            <select id='fontColor'>
              <option value="white">white</option>
              <option value="black">black</option>
              <option value="green">green</option>
            </select>
            </label>

            <p>Size:</p>
            <select id='fontSize'>
              <option value="20px">20</option>
              <option value="40px">40</option>
              <option value="60px">60</option>
            </select>

            <input type="submit" value="Add text" id="addTextSubmit">
          </form>
        </div>
      </div>
    </div>
    <div class="sidenav col-sm-2 ">
    </div>
  </div>
</div>
<script defer src="js/edit.js"></script>
