<div class="category " data-flickity-options='{ "wrapAround": true }'>
    {{#each subCat}}
    <div class="category-cell"><a href="/collection/subcat/{{this.category}}">{{this.category}}</a></div>
    {{/each}}
</div>

