
<div class="subcategory js-flickity" data-flickity-options='{ "wrapAround": true }'>
    {{#each subCat}}
    <div class="category-cell"><a href="/collection/subcat">{{this.name}}</a></div>
    {{/each}}
</div>
