/* .navatar {

    .brand-logo {
      position:static;
      margin-right:12px;
      }
    
    #avatar {
      height:inherit;
      
      > li, a {
        height:inherit;
        
        img {
          height:100%;
          padding:8px;
        }
      }
    }
     */
    /* } */
    .bg-custom-1 {
        background-color: #85144b;
      }
      
      .bg-custom-2 {
      background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
      }